<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>DeviceProperties</key>
        <dict>
            <key>Add</key>
            <dict>
                <key>PciRoot(0x0)/Pci(0x1f,0x3)  |  ALC256声卡</key>
                <dict>
                    <key>#AAPL,slot-name</key>
                    <string>Internal@0,31,3</string>
                    <key>#hda-gfx</key>
                    <string>onboard-1</string>
                    <key>model</key>
                    <string>ALC256</string>
                    <key>layout-id</key>
                    <integer>69</integer>
                </dict>
                <key>PciRoot(0x0)/Pci(0x2,0x0)  |  UHD620</key>
                <dict>
                    <key>AAPL,ig-platform-id</key>
                    <data>AAAWWQ==</data>
                    <key>complete-modeset-framebuffers</key>
                    <data>AAAAAAAAAAE=</data>
                    <key>device-id</key>
                    <data>FlkAAA==</data>
                    <key>enable-hdmi20</key>
                    <data>AQAAAA==</data>
                    <key>force-online</key>
                    <data>AQAAAA==</data>
                    <key>force-online-framebuffers</key>
                    <data>AAAAAAAAAAE=</data>
                    <key>framebuffer-con1-enable</key>
                    <data>AQAAAA==</data>
                    <key>framebuffer-con1-type</key>
                    <data>AAgAAA==</data>
                    <key>framebuffer-con2-enable</key>
                    <data>AAAAAA==</data>
                    <key>framebuffer-con2-index</key>
                    <data>/////w==</data>
                    <key>framebuffer-fbmem</key>
                    <data>AACQAA==</data>
                    <key>framebuffer-patch-enable</key>
                    <data>AQAAAA==</data>
                    <key>framebuffer-stolenmem</key>
                    <data>AAAwAQ==</data>
                    <key>framebuffer-unifiedmem</key>
                    <data>AAAAgA==</data>
                </dict>
            </dict>
        </dict>
    </dict>
</plist>
