<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Kernel</key>
        <dict>
            <key>Patch</key>
            <array>
                <dict>
                    <key>Base</key>
                    <string></string>
                    <key>Comment</key>
                    <string>change F%uT%04x to F%uTxxxx in AppleBacklightInjector.kext (credit RehabMan)</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>RiV1VCUwNHgA</data>
                    <key>Identifier</key>
                    <string></string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>RiV1VHh4eHgA</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Base</key>
                    <string></string>
                    <key>Comment</key>
                    <string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data>SU9LaXQ=</data>
                    <key>Identifier</key>
                    <string></string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>SU9LaXM=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Base</key>
                    <string></string>
                    <key>Comment</key>
                    <string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data>SU9LaXQ=</data>
                    <key>Identifier</key>
                    <string></string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>SU9LaXM=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>Base</key>
                    <string>__ZN8AppleRTC18setupDateTimeAlarmEPK11RTCDateTime</string>
                    <key>Comment</key>
                    <string>Disable RTC wake scheduling</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>com.apple.driver.AppleRTC</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>19.0.0</string>
                    <key>Replace</key>
                    <data>ww==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>Base</key>
                    <string>_AcpiOsVprintf</string>
                    <key>Comment</key>
                    <string>Disable ACPI logging</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>com.apple.driver.AppleACPIPlatform</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string>18.5.0</string>
                    <key>MinKernel</key>
                    <string>18.5.0</string>
                    <key>Replace</key>
                    <data>ww==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string>__ZN11BCM5701Enet14getAdapterInfoEv</string>
                    <key>Comment</key>
                    <string>Broadcom BCM57785 patch</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data>6AAA//9miYMABQAA</data>
                    <key>Identifier</key>
                    <string>com.apple.iokit.AppleBCM5701Ethernet</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data>/wAA////////////</data>
                    <key>MaxKernel</key>
                    <string>19.9.9</string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>uLQWAABmiYMABQAA</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string>_panic</string>
                    <key>Comment</key>
                    <string>Send panic string to serial port</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>kernel</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>MfaKD4TJdQT/xrEKZrr9A+yoIHT7Zrr4A4jI7kj/x4X2dN/r/g==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string>_kernel_debug_string_early</string>
                    <key>Comment</key>
                    <string>Send early prints to serial port</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>kernel</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>MfaKD4TJdQT/xrEKZrr9A+yoIHT7Zrr4A4jI7kj/x4X2dN/D</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string>_vstart</string>
                    <key>Comment</key>
                    <string>Print K and dead loop</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>kernel</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>sUtmuv0D7KggdPtmuvgDiMjusQpmuv0D7KggdPtmuvgDiMju6/4=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string>_vstart</string>
                    <key>Comment</key>
                    <string>Early reboot</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>kernel</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>McCwBrr5DAAA7uv+</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>Base</key>
                    <string></string>
                    <key>Comment</key>
                    <string>Enable TRIM for SSD</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data>AEFQUExFIFNTRAA=</data>
                    <key>Identifier</key>
                    <string>com.apple.iokit.IOAHCIBlockStorage</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>AAAAAAAAAAAAAAA=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
            </array>
        </dict>
    </dict>
</plist>
