<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ACPI</key>
        <dict>
            <key>Patch</key>
            <array>
                <dict>
                    <key>Comment</key>
                    <string>change OSID to XSID (to avoid match against _OSI XOSI patch)</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>T1NJRA==</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>WFNJRA==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data></data>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>change _OSI to XOSI, pair with SSDT-XOSI.aml</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>X09TSQ==</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>WE9TSQ==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data></data>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>change SAT0 to SATA, optionally pair with SSDT-SATA.aml</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data>U0FUMA==</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>U0FUQQ==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data></data>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>change Method(GPRW,2,N) to XPRW, pair with SSDT-PRW.aml</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>R1BSVwI=</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>WFBSVwI=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data></data>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>change ECDV to EC (EC device recognition)</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>RUNEVg==</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>RUNfXw==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data></data>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>change Method(_PTS,1,N) to ZPTS, pair with SSDT-PTSWAK.aml</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>X1BUUwE=</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>WlBUUwE=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data>RFNEVA==</data>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>change Method(_WAK,1,N) to ZWAK, pair with SSDT-PTSWAK.aml</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>X1dBSwE=</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>WldBSwE=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data>RFNEVA==</data>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>change _STA to XSTA in device GPI0 (TouchPad I2C)</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>FB1fU1RBAKAJk1M=</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>FB1YU1RBAKAJk1M=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data>RFNEVA==</data>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>change _CRS to XCRS in device TPD1 (TouchPad I2C)</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>FDNfQ1JTAA==</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>FDNYQ1JTAA==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>1</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data>RFNEVA==</data>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>change _DSM to XDSM (TPD1/Touchpad I2C)</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>FDlfRFNNDA==</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>FDlYRFNNDA==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>1</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data>RFNEVA==</data>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>Rename _RMV to XRMV in RP01.PXSX and use with SSDT-TYPC.aml for USB-C hot plug support</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>FCRfUk1WAA==</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>FCRYUk1WAA==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>5</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data>RFNEVA==</data>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>Rename XTBT to YTBT and use with SSDT-YTBT.aml for USB-C hot plug</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data>pABYVEJU</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>pABZVEJU</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data>RFNEVA==</data>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string>Rename RP15.PXSX._RMV to XRMV, pair with SSDT-BCKM</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>X1JNVgCkABQGX1BTMAAUSwVfUFMzAHJNTVRCC0gFYFuAUFhWRABgCghbgRBQWFZEA1RCMlAgUDJUQiCgLpCTVEJUUwGTU0JOUlRCVVNBREJHDXNlbmRpbmcgU1hfU1RBUlQAcAodUDJUQhQtSFBNRQigJpCSk1ZESUQM</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>WFJNVgCkABQGX1BTMAAUSwVfUFMzAHJNTVRCC0gFYFuAUFhWRABgCghbgRBQWFZEA1RCMlAgUDJUQiCgLpCTVEJUUwGTU0JOUlRCVVNBREJHDXNlbmRpbmcgU1hfU1RBUlQAcAodUDJUQhQtSFBNRQigJpCSk1ZESUQM</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data></data>
                </dict>
                <dict>
                    <key>Base</key>
                    <string>\_SB.PCI0.LPCB.HPET</string>
                    <key>BaseSkip</key>
                    <integer>0</integer>
                    <key>Comment</key>
                    <string>HPET _CRS to XCRS</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data>X0NSUw==</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>WENSUw==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data></data>
                </dict>
                <dict>
                    <key>Base</key>
                    <string></string>
                    <key>BaseSkip</key>
                    <integer>0</integer>
                    <key>Comment</key>
                    <string>GPRW to XPRW</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>R1BSVwI=</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>WFBSVwI=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data></data>
                </dict>
                <dict>
                    <key>Base</key>
                    <string></string>
                    <key>BaseSkip</key>
                    <integer>0</integer>
                    <key>Comment</key>
                    <string>Rename BRT6 to BRTX</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>FCBCUlQ2Ag==</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>FCBCUlRYAg==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data></data>
                </dict>
                <dict>
                    <key>Base</key>
                    <string></string>
                    <key>BaseSkip</key>
                    <integer>0</integer>
                    <key>Comment</key>
                    <string>OSID to XSID</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data>T1NJRA==</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>WFNJRA==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data></data>
                </dict>
                <dict>
                    <key>Base</key>
                    <string></string>
                    <key>BaseSkip</key>
                    <integer>0</integer>
                    <key>Comment</key>
                    <string>Device AC rename to ADP1  pair with SSDT-ADP1 - credit syscl</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data>QUNfXw==</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>QURQMQ==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data></data>
                </dict>
            </array>
        </dict>
        <key>DeviceProperties</key>
        <dict>
            <key>Add</key>
            <dict>
                <key>PciRoot(0x0)/Pci(0x1f,0x3)  |  DELL ALC256</key>
                <dict>
                    <key>#AAPL,slot-name</key>
                    <string>Internal@0,31,3</string>
                    <key>#hda-gfx</key>
                    <string>onboard-1</string>
                    <key>model</key>
                    <string>ALC256</string>
                    <key>layout-id</key>
                    <integer>69</integer>
                </dict>
                <key>PciRoot(0x0)/Pci(0x2,0x0)  |  UHD620 (i5-8250U)</key>
                <dict>
                    <key>AAPL,ig-platform-id</key>
                    <data>AAAWWQ==</data>
                    <key>complete-modeset-framebuffers</key>
                    <data>AAAAAAAAAAE=</data>
                    <key>device-id</key>
                    <data>FlkAAA==</data>
                    <key>enable-hdmi20</key>
                    <data>AQAAAA==</data>
                    <key>force-online</key>
                    <data>AQAAAA==</data>
                    <key>force-online-framebuffers</key>
                    <data>AAAAAAAAAAE=</data>
                    <key>framebuffer-con1-enable</key>
                    <data>AQAAAA==</data>
                    <key>framebuffer-con1-type</key>
                    <data>AAgAAA==</data>
                    <key>framebuffer-con2-enable</key>
                    <data>AAAAAA==</data>
                    <key>framebuffer-con2-index</key>
                    <data>/////w==</data>
                    <key>framebuffer-fbmem</key>
                    <data>AACQAA==</data>
                    <key>framebuffer-patch-enable</key>
                    <data>AQAAAA==</data>
                    <key>framebuffer-stolenmem</key>
                    <data>AAAwAQ==</data>
                    <key>framebuffer-unifiedmem</key>
                    <data>AAAAgA==</data>
                </dict>
            </dict>
        </dict>
        <key>Kernel</key>
        <dict>
            <key>Patch</key>
            <array>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>Base</key>
                    <string>__ZN8AppleRTC18setupDateTimeAlarmEPK11RTCDateTime</string>
                    <key>Comment</key>
                    <string>Disable RTC wake scheduling</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>com.apple.driver.AppleRTC</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>19.0.0</string>
                    <key>Replace</key>
                    <data>ww==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>Base</key>
                    <string>_AcpiOsVprintf</string>
                    <key>Comment</key>
                    <string>Disable ACPI logging</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>com.apple.driver.AppleACPIPlatform</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string>18.5.0</string>
                    <key>MinKernel</key>
                    <string>18.5.0</string>
                    <key>Replace</key>
                    <data>ww==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string>__ZN11BCM5701Enet14getAdapterInfoEv</string>
                    <key>Comment</key>
                    <string>Broadcom BCM57785 patch</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data>6AAA//9miYMABQAA</data>
                    <key>Identifier</key>
                    <string>com.apple.iokit.AppleBCM5701Ethernet</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data>/wAA////////////</data>
                    <key>MaxKernel</key>
                    <string>19.9.9</string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>uLQWAABmiYMABQAA</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string>_panic</string>
                    <key>Comment</key>
                    <string>Send panic string to serial port</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>kernel</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>MfaKD4TJdQT/xrEKZrr9A+yoIHT7Zrr4A4jI7kj/x4X2dN/r/g==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string>_kernel_debug_string_early</string>
                    <key>Comment</key>
                    <string>Send early prints to serial port</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>kernel</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>MfaKD4TJdQT/xrEKZrr9A+yoIHT7Zrr4A4jI7kj/x4X2dN/D</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string>_vstart</string>
                    <key>Comment</key>
                    <string>Print K and dead loop</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>kernel</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>sUtmuv0D7KggdPtmuvgDiMjusQpmuv0D7KggdPtmuvgDiMju6/4=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string>_vstart</string>
                    <key>Comment</key>
                    <string>Early reboot</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>kernel</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>McCwBrr5DAAA7uv+</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>Base</key>
                    <string></string>
                    <key>Comment</key>
                    <string>Enable TRIM for SSD</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data>AEFQUExFIFNTRAA=</data>
                    <key>Identifier</key>
                    <string>com.apple.iokit.IOAHCIBlockStorage</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>AAAAAAAAAAAAAAA=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
            </array>
        </dict>
        <key>NVRAM</key>
        <dict>
            <key>Add</key>
            <dict>
                <key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
                <dict>
                    <key>DefaultBackgroundColor</key>
                    <data>AAAAAA==</data>
                    <key>UIScale</key>
                    <data>AQ==</data>
                </dict>
                <key>4D1FDA02-38C7-4A6A-9CC6-4BCCA8B30102</key>
                <dict>
                    <key>rtc-blacklist</key>
                    <data></data>
                </dict>
                <key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
                <dict>
                    <key>SystemAudioVolume</key>
                    <data>Rg==</data>
                    <key>boot-args</key>
                    <string>-v keepsyms=1</string>
                    <key>csr-active-config</key>
                    <data>AAAAAA==</data>
                    <key>prev-lang:kbd</key>
                    <data>cnUtUlU6MjUy</data>
                    <key>run-efi-updater</key>
                    <string>No</string>
                </dict>
            </dict>
            <key>Delete</key>
            <dict>
                <key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
                <array>
                    <string>UIScale</string>
                    <string>DefaultBackgroundColor</string>
                </array>
                <key>4D1FDA02-38C7-4A6A-9CC6-4BCCA8B30102</key>
                <array>
                    <string>rtc-blacklist</string>
                </array>
                <key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
                <array>
                    <string>boot-args</string>
                </array>
            </dict>
            <key>LegacySchema</key>
            <dict>
                <key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
                <array>
                    <string>EFILoginHiDPI</string>
                    <string>EFIBluetoothDelay</string>
                    <string>LocationServicesEnabled</string>
                    <string>SystemAudioVolume</string>
                    <string>SystemAudioVolumeDB</string>
                    <string>SystemAudioVolumeSaved</string>
                    <string>bluetoothActiveControllerInfo</string>
                    <string>bluetoothInternalControllerInfo</string>
                    <string>flagstate</string>
                    <string>fmm-computer-name</string>
                    <string>fmm-mobileme-token-FMM</string>
                    <string>fmm-mobileme-token-FMM-BridgeHasAccount</string>
                    <string>nvda_drv</string>
                    <string>prev-lang:kbd</string>
                </array>
                <key>8BE4DF61-93CA-11D2-AA0D-00E098032B8C</key>
                <array>
                    <string>Boot0080</string>
                    <string>Boot0081</string>
                    <string>Boot0082</string>
                    <string>BootNext</string>
                    <string>BootOrder</string>
                </array>
            </dict>
        </dict>
    </dict>
</plist>
