<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19H1323</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>RMISMBus</string>
	<key>CFBundleIdentifier</key>
	<string>com.1Revenger1.RMISMBus</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RMISMBus</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12D4e</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.1</string>
	<key>DTSDKBuild</key>
	<string>20C63</string>
	<key>DTSDKName</key>
	<string>macosx11.1</string>
	<key>DTXcode</key>
	<string>1240</string>
	<key>DTXcodeBuild</key>
	<string>12D4e</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>RMISMBus</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.1Revenger1.RMISMBus</string>
			<key>IOClass</key>
			<string>RMISMBus</string>
			<key>IOProbeScore</key>
			<integer>500</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>VoodooSMBUS Slave Device Address</key>
				<integer>44</integer>
			</dict>
			<key>IOProviderClass</key>
			<string>VoodooSMBusDeviceNub</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2021 1Revenger1. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.1Revenger1.VoodooRMI</key>
		<string>1.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>15</string>
		<key>com.apple.kpi.libkern</key>
		<string>15</string>
		<key>com.apple.kpi.mach</key>
		<string>15</string>
		<key>de.leo-labs.VoodooSMBus</key>
		<string>3.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
</dict>
</plist>
