[Desktop Entry]
Type=Application
Name=OCAuxiliaryTools
Exec=OCAuxiliaryTools
Icon=icon/icon.png
Comment=OCAuxiliaryTools
Categories=Application;
Terminal=true
