[Desktop Entry]
Type=Application
Name=OC Auxiliary Tools
Exec=OC Auxiliary Tools
Icon=icon
Comment=OC Auxiliary Tools
Categories=Application;
Terminal=true
