IDI_ICON1 ICON DISCARDABLE "my.ico"

#pragma code_page(65001)

#if defined(UNDER_CE)
#include <winbase.h>
#else
#include <winver.h>
#endif

    VS_VERSION_INFO VERSIONINFO FILEVERSION 0,
    0, 0 PRODUCTVERSION 1, 0, 0,
    10 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0x0L
#endif
        FILEOS VOS__WINDOWS32 FILETYPE VFT_DLL FILESUBTYPE 0x0L BEGIN BLOCK
    "StringFileInfo" BEGIN BLOCK "080404b0" BEGIN VALUE "CompanyName",
    "" VALUE "FileDescription", "" VALUE "FileVersion",
    "OCAT - 2022\0" VALUE "ProductVersion",
    "OCAT - 2022\0" VALUE "LegalCopyright", "\0" VALUE "LegalTrademarks",
    "" VALUE "OriginalFilename", "OCAT\0" VALUE "ProductName",
    "OCAT" VALUE "InternalName",
    "OCAT\0" END END

        BLOCK "VarFileInfo" BEGIN VALUE "Translation",
    0x804, 1200 END END
