<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#remember to enable also ForceAquantiaEthernet quirk in kernel quirks</key>
	<string></string>
	<key>Kernel</key>
	<dict>
		<key>Patch</key>
		<array>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string>__ZN27AppleEthernetAquantiaAqtion13alloc_rx_ringEj</string>
				<key>Comment</key>
				<string>CaseySJ - Fix alloc_rx_ring #1</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				TInvQbgDAAAA
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleEthernetAquantiaAqtion</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string>22.99.99</string>
				<key>MinKernel</key>
				<string>21.0.0</string>
				<key>Replace</key>
				<data>
				TInvQbgTAAAA
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string>__ZN27AppleEthernetAquantiaAqtion13alloc_rx_ringEj</string>
				<key>Comment</key>
				<string>CaseySJ - Fix alloc_rx_ring #2</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				ugAQAAC/AQAAAA==
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleEthernetAquantiaAqtion</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string>22.99.99</string>
				<key>MinKernel</key>
				<string>21.0.0</string>
				<key>Replace</key>
				<data>
				ugAQAAC/EQAAAA==
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string>__ZN27AppleEthernetAquantiaAqtion13alloc_tx_ringEj</string>
				<key>Comment</key>
				<string>CaseySJ - Fix alloc_tx_ring #1</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				TInnQbgDAAAA
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleEthernetAquantiaAqtion</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string>22.99.99</string>
				<key>MinKernel</key>
				<string>21.0.0</string>
				<key>Replace</key>
				<data>
				TInnQbgTAAAA
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string>__ZN27AppleEthernetAquantiaAqtion13alloc_tx_ringEj</string>
				<key>Comment</key>
				<string>CaseySJ - Fix alloc_tx_ring #2</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				ugAQAAC/AgAAAA==
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleEthernetAquantiaAqtion</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string>22.99.99</string>
				<key>MinKernel</key>
				<string>21.0.0</string>
				<key>Replace</key>
				<data>
				ugAQAAC/EgAAAA==
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string>__ZN27AppleEthernetAquantiaAqtion14allocAvbPacketEj</string>
				<key>Comment</key>
				<string>CaseySJ - Fix allocAvbPacket</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				TIn3QbgDAAAA
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleEthernetAquantiaAqtion</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string>22.99.99</string>
				<key>MinKernel</key>
				<string>21.0.0</string>
				<key>Replace</key>
				<data>
				TIn3QbgTAAAA
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string>__ZN27AppleEthernetAquantiaAqtion14allocPtpPacketEj</string>
				<key>Comment</key>
				<string>CaseySJ - Fix allocPtpPacket</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				ugACAAC/AwAAAA==
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleEthernetAquantiaAqtion</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string>22.99.99</string>
				<key>MinKernel</key>
				<string>21.0.0</string>
				<key>Replace</key>
				<data>
				ugACAAC/EwAAAA==
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
