<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kernel</key>
	<dict>
		<key>Patch</key>
		<array>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>CaseySJ - Fix alloc_dma_buffer</string>
				<key>Count</key>
				<integer>3</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				TInnQbgDAAAA
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleEthernetAquantiaAqtion</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				///n////////
				</data>
				<key>MaxKernel</key>
				<string>22.99.99</string>
				<key>MinKernel</key>
				<string>21.0.0</string>
				<key>Replace</key>
				<data>
				TIn3QbgTAAAA
				</data>
				<key>ReplaceMask</key>
				<data>
				AAAAAAAQAAAA
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>CaseySJ - Fix IOBufferMemoryDescriptor::withOptions</string>
				<key>Count</key>
				<integer>3</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				ugAAAAC/AAAAAA==
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AppleEthernetAquantiaAqtion</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				//8A////8P///w==
				</data>
				<key>MaxKernel</key>
				<string>22.99.99</string>
				<key>MinKernel</key>
				<string>21.0.0</string>
				<key>Replace</key>
				<data>
				ugACAAC/EwAAAA==
				</data>
				<key>ReplaceMask</key>
				<data>
				AAAAAAAAEAAAAA==
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
