<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Kernel</key>
        <dict>
            <key>Patch</key>
            <array>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>Base</key>
                    <string></string>
                    <key>Comment</key>
                    <string>Enable TRIM for SSD</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <false/>
                    <key>Find</key>
                    <data>AEFQUExFIFNTRAA=</data>
                    <key>Identifier</key>
                    <string>com.apple.iokit.IOAHCIBlockStorage</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>AAAAAAAAAAAAAAA=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
            </array>
        </dict>
    </dict>
</plist>
