<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>EFICheckDisabler 0.5, Copyright (GPLv2) © 2017 by RehabMan. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>org.rehabman.disabler.eficheck</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>EFICheckDisabler</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleVersion</key>
	<string>0.5</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>EFICheckDisabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kpi.iokit</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOMatchCategory</key>
			<string>com_apple_driver_eficheck</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,1c41</string>
				<string>pci8086,1c42</string>
				<string>pci8086,1c43</string>
				<string>pci8086,1c44</string>
				<string>pci8086,1c46</string>
				<string>pci8086,1c47</string>
				<string>pci8086,1c49</string>
				<string>pci8086,1c4a</string>
				<string>pci8086,1c4b</string>
				<string>pci8086,1c4c</string>
				<string>pci8086,1c4d</string>
				<string>pci8086,1c4e</string>
				<string>pci8086,1c4f</string>
				<string>pci8086,1c50</string>
				<string>pci8086,1c52</string>
				<string>pci8086,1c5c</string>
				<string>pci8086,1d41</string>
				<string>pci8086,1e42</string>
				<string>pci8086,1e44</string>
				<string>pci8086,1e46</string>
				<string>pci8086,1e47</string>
				<string>pci8086,1e48</string>
				<string>pci8086,1e49</string>
				<string>pci8086,1e4a</string>
				<string>pci8086,1e53</string>
				<string>pci8086,1e55</string>
				<string>pci8086,1e56</string>
				<string>pci8086,1e57</string>
				<string>pci8086,1e58</string>
				<string>pci8086,1e59</string>
				<string>pci8086,1e5d</string>
				<string>pci8086,1e5e</string>
				<string>pci8086,1e5f</string>
				<string>pci8086,3b02</string>
				<string>pci8086,3b03</string>
				<string>pci8086,3b06</string>
				<string>pci8086,3b07</string>
				<string>pci8086,3b08</string>
				<string>pci8086,3b09</string>
				<string>pci8086,3b0a</string>
				<string>pci8086,3b0b</string>
				<string>pci8086,3b0f</string>
				<string>pci8086,3b12</string>
				<string>pci8086,3b14</string>
				<string>pci8086,3b16</string>
				<string>pci8086,8c44</string>
				<string>pci8086,8c4b</string>
				<string>pci8086,8cc1</string>
				<string>pci8086,8cc2</string>
				<string>pci8086,8cc3</string>
				<string>pci8086,8cc4</string>
				<string>pci8086,8cc6</string>
				<string>pci8086,8c41</string>
				<string>pci8086,8c42</string>
				<string>pci8086,8c44</string>
				<string>pci8086,8c46</string>
				<string>pci8086,8c49</string>
				<string>pci8086,8c4a</string>
				<string>pci8086,8c4b</string>
				<string>pci8086,8c4c</string>
				<string>pci8086,8c4e</string>
				<string>pci8086,8c4f</string>
				<string>pci8086,8c50</string>
				<string>pci8086,8c52</string>
				<string>pci8086,8c54</string>
				<string>pci8086,8c56</string>
				<string>pci8086,8c5c</string>
				<string>pci8086,8d44</string>
				<string>pci8086,8d47</string>
				<string>pci8086,9cc1</string>
				<string>pci8086,9cc2</string>
				<string>pci8086,9cc3</string>
				<string>pci8086,9cc5</string>
				<string>pci8086,9cc6</string>
				<string>pci8086,9cc7</string>
				<string>pci8086,9cc9</string>
				<string>pci8086,9c41</string>
				<string>pci8086,9c43</string>
				<string>pci8086,9c45</string>
				<string>pci8086,9d41</string>
				<string>pci8086,9d43</string>
				<string>pci8086,9d46</string>
				<string>pci8086,9d48</string>
				<string>pci8086,9d4b</string>
				<string>pci8086,9d4e</string>
				<string>pci8086,a145</string>
				<string>pci8086,a151</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
</dict>
</plist>
