<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2020 lvs1974. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>as.lvs1974.AirportBrcm4360Injector</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AirPortBrcm4360</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Airport_Brcm4360</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AirPort.Brcm4360</string>
			<key>IOClass</key>
			<string>AirPort_Brcm4360</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IONameMatch</key>
			<array>
				<string>pci14e4,4331</string>
				<string>pci14e4,4353</string>
				<string>pci14e4,4357</string>
				<string>pci14e4,43a3</string>
				<string>pci14e4,43b1</string>
				<string>pci14e4,43b2</string>
			</array>
			<key>IOProbeScore</key>
			<integer>1110</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>TruePowerOff</key>
			<true/>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
