<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20G95</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>RealtekCardReader</string>
	<key>CFBundleIdentifier</key>
	<string>science.firewolf.rtsx</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RealtekCardReader</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.6</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>0.9.6</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12E507</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.3</string>
	<key>DTSDKBuild</key>
	<string>20E214</string>
	<key>DTSDKName</key>
	<string>macosx11.3</string>
	<key>DTXcode</key>
	<string>1251</string>
	<key>DTXcodeBuild</key>
	<string>12E507</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IOSDBlockStorageDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>science.firewolf.rtsx</string>
			<key>Device Characteristics</key>
			<dict>
				<key>Product Name</key>
				<string>Built In SDXC Reader</string>
				<key>Vendor Name</key>
				<string>Realtek</string>
			</dict>
			<key>IOClass</key>
			<string>IOSDBlockStorageDevice</string>
			<key>IOMediaIcon</key>
			<dict>
				<key>CFBundleIdentifier</key>
				<string>com.apple.iokit.IOSCSIArchitectureModelFamily</string>
				<key>IOBundleResourceFile</key>
				<string>SD.icns</string>
			</dict>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOSDHostDriver</string>
		</dict>
		<key>RealtekRTS5129Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>science.firewolf.rtsx</string>
			<key>IOClass</key>
			<string>RealtekUSBCardReaderController</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>Secure Digital</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
			<key>idProduct</key>
			<integer>297</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealtekRTS5139Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>science.firewolf.rtsx</string>
			<key>IOClass</key>
			<string>RealtekUSBCardReaderController</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>Secure Digital</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
			<key>idProduct</key>
			<integer>313</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealtekRTS5179Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>science.firewolf.rtsx</string>
			<key>IOClass</key>
			<string>RealtekUSBCardReaderController</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>Secure Digital</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
			<key>idProduct</key>
			<integer>320</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealtekRTS5209Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>science.firewolf.rtsx</string>
			<key>IOClass</key>
			<string>RealtekRTS5209Controller</string>
			<key>IOPCIMatch</key>
			<string>0x520910EC</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>Secure Digital</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
		<key>RealtekRTS5227Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>science.firewolf.rtsx</string>
			<key>IOClass</key>
			<string>RealtekRTS5227Controller</string>
			<key>IOPCIMatch</key>
			<string>0x522710EC</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>Secure Digital</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
		<key>RealtekRTS5229Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>science.firewolf.rtsx</string>
			<key>IOClass</key>
			<string>RealtekRTS5229Controller</string>
			<key>IOPCIMatch</key>
			<string>0x522910EC</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>Secure Digital</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
		<key>RealtekRTS522AController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>science.firewolf.rtsx</string>
			<key>IOClass</key>
			<string>RealtekRTS522AController</string>
			<key>IOPCIMatch</key>
			<string>0x522A10EC</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>Secure Digital</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
		<key>RealtekRTS5249Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>science.firewolf.rtsx</string>
			<key>IOClass</key>
			<string>RealtekRTS5249Controller</string>
			<key>IOPCIMatch</key>
			<string>0x524910EC</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>Secure Digital</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
		<key>RealtekRTS524AController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>science.firewolf.rtsx</string>
			<key>IOClass</key>
			<string>RealtekRTS524AController</string>
			<key>IOPCIMatch</key>
			<string>0x524A10EC</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>Secure Digital</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
		<key>RealtekRTS525AController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>science.firewolf.rtsx</string>
			<key>IOClass</key>
			<string>RealtekRTS525AController</string>
			<key>IOPCIMatch</key>
			<string>0x525A10EC</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>Secure Digital</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
		<key>RealtekRTS5260Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>science.firewolf.rtsx</string>
			<key>IOClass</key>
			<string>RealtekRTS5260Controller</string>
			<key>IOPCIMatch</key>
			<string>0x526010EC</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>Secure Digital</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
		<key>RealtekRTS5286Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>science.firewolf.rtsx</string>
			<key>IOClass</key>
			<string>RealtekRTS5286Controller</string>
			<key>IOPCIMatch</key>
			<string>0x528610EC</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>Secure Digital</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
		<key>RealtekRTS5287Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>science.firewolf.rtsx</string>
			<key>IOClass</key>
			<string>RealtekRTS5287Controller</string>
			<key>IOPCIMatch</key>
			<string>0x528710EC</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>Secure Digital</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
		<key>RealtekRTS5289Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>science.firewolf.rtsx</string>
			<key>IOClass</key>
			<string>RealtekRTS5289Controller</string>
			<key>IOPCIMatch</key>
			<string>0x528910EC</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>Secure Digital</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2021 FireWolf. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.9</string>
		<key>com.apple.iokit.IOStorageFamily</key>
		<string>2.1</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.2</string>
		<key>com.apple.kpi.iokit</key>
		<string>16.4</string>
		<key>com.apple.kpi.libkern</key>
		<string>16.4</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
