<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18B75</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>VerbStub</string>
	<key>CFBundleIdentifier</key>
	<string>com.XPS.VerbStub</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VerbStub</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10B61</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>18B71</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1010</string>
	<key>DTXcodeBuild</key>
	<string>10B61</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>VerbStub</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.XPS.VerbStub</string>
			<key>IOClass</key>
			<string>com_XPS_VerbStub</string>
			<key>IOMatchCategory</key>
			<string>com_XPS_VerbStub</string>
			<key>IOProviderClass</key>
			<string>IOHDACodecFunction</string>
			<key>IOUserClientClass</key>
			<string>VerbStubUserClient</string>
		</dict>
		<key>VerbStubResidency</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.XPS.VerbStub</string>
			<key>IOClass</key>
			<string>VerbStubResidency</string>
			<key>IOMatchCategory</key>
			<string>VerbStubResidency</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 VerbStub. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.9</string>
		<key>com.apple.kpi.iokit</key>
		<string>16.6</string>
		<key>com.apple.kpi.libkern</key>
		<string>16.6</string>
	</dict>
</dict>
</plist>
